{{#with resultObject}}
  {{#if resultSet}}
    <table>
      <tr>
        <th>Name</th>
        <th>Mini Sample</th>
        <th></th>
      </tr>
      {{#resultSet}}
        <tr>
          <td>{{name}}</td>
          <td style="background-color:rgb({{rgb}})"></td>
          <td>
            <button
              class="button__initiate--overlay"
              data-rgb="{{rgb}}"
              data-name="{{name}}"
            >
              Full Screen
            </button>
          </td>
          {{#if ../allowDelete}}
          <td>
            <button
              class="button__delete-color"
              data-index="{{@index}}"
            >
              Delete
            </button>
          </td>
          {{/if}}
        </tr>
      {{/resultSet}}
    </table>
  {{else}}
    <p>No colour results</p>
  {{/if}}
  {{#if resultCloseMatch}}
    <p>No exact matches were found, but these seemed close. Or try searching again.</p>
  {{else}}
    {{#if resultMaxNumber}}
      <p>More than {{resultMaxNumber}} colours found matching your search term. Please narrow down your search.</p>
    {{/if}}
  {{/if}}
{{/with}}
