{{#if colors}}
  <table>
    <tr>
      <th>Range</th>
      <th>Name</th>
      <th>Mini Sample</th>
      <th></th>
    </tr>
    {{#colors}}
      <tr>
        <td>{{range}}</td>
        <td>{{name}}</td>
        <td style="background-color:rgb({{rgb}})"></td>
        <td>
          <button
            class="button__initiate--overlay"
            data-rgb="{{rgb}}"
            data-range="{{range}}"
            data-name="{{name}}"
          >
            Full Screen
          </button>
        </td>
      </tr>
    {{/colors}}
  </table>
{{else}}
  <p>No colours found matching your search term</p>
{{/if}}
