<div class="color">
  <h2>Use your screen as a paint sample</h2>
  <fieldset class="fieldset__color-search">
    <h3>Search for your paint</h3>
    <label class="label">Enter the name of your paint</label>
    <div>
      <textarea
      class="input__color-search"
      autocapitalize="characters"
      autocomplete="on"
      cols="28"
      minlength="5"
      placeholder="at least 5 characters"
      rows="1"
      ></textarea>
      <button class="button__color-search"h>Colour Search</button>
    </div>
    <div>
      <p>Preferred Search Site</p>
      <div>
        <input type="radio" id="colorSearchLink1" name="colorSearchLink" value="http://encycolorpedia.com/" checked="checked">
        <label for="colorSearchLink2">
          <a class="link__color-search" href="http://encycolorpedia.com/" target="__blank">encycolorpedia.com</a>
        </label>
      </div>
      <div>
        <input type="radio" id="colorSearchLink2" name="colorSearchLink" value="https://www.e-paint.co.uk/">
        <label for="colorSearchLink1">
          <a class="link__color-search" href="https://www.e-paint.co.uk/" target="__blank">e-paint.co.uk</a>
        </label>
      </div>
      <p class="color-search__placeholder">Search results will appear here</p>
    </div>
    <div class="color-search__results">
    </div>
  </fieldset>
  <h3>Previously Viewed Colours</h3>
  <div class="color-search__previous">
  </div>
</div>
