<div class="footer">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Contact:</li>
    <li><a href="mailto:fullscreenpaintsample@gmail.com">fullscreenpaintsample@gmail.com</a></li>
    <li><a href="http://initialdigital.com/">initialdigital.com</a></li>
    <li><a href="/cookies">Cookie Policy</a></li>
  </ul>
</div>
