<div class="hex">
  <h2 class="text__standard">Use your screen as a paint sample</h2>
  <fieldset class="fieldset__hex">
    <label class="label">Enter the paint's HEX code:</label>
    <div>
    <textarea
      class="input__hex-code"
      autocapitalize="characters"
      autocomplete="on"
      autofocus
      cols="14"
      maxlength="7"
      minlength="7"
      placeholder="e.g. #FFFFFF"
      required
      rows="1"
    ></textarea>
    <button class="button__initiate">Full Screen Sample</button>
  </div>
  </fieldset>
  <p class="error"></p>
</div>
