<div class="tips">
  <h2>Tips for choosing the right paint colour</h2>
  <ul>
    <li>Get charts from your local decorating store or direct from suppliers.</li>
    <ul>
      <li><a href="https://eu.farrow-ball.com/colour-card///fcp-product/700011" target="_blank">Farrow and Ball</a></li>
      <li><a href="https://www.colourtrend.ie/colourcards" target="_blank">Colourtrend</a></li>
      <li><a href="http://www.johnstonespaint.ie/inspiration/request-a-colour-card" target="_blank">Johnstone’s</a></li>
      <li><a href="http://www.fleetwood.ie/#open-modal" target="_blank">Fleetwood</a></li>
    </ul>
    <li>Create a ‘Long List’ of colours that complement items such as windows, furniture & curtains.</li>
    <li>Narrow to a ‘Short List’ using this site to eliminate colours that don’t suit at a larger scale.</li>
    <li>You can now move onto real paint samples.</li>
    <li>Consider getting each colour in a lighter shade as well. When painted to a bigger scale colours can be more intense.</li>
    <li>Don’t paint samples directly onto the wall, buy some <a href="http://www.woodies.ie/single-lining-1000-grade-315800" target="_blank">Lining Paper</a>.</li>
    <li>Each sample should be a square of around 50cm on each side (the width of the lining paper).</li>
    <li>A 100ml paint sample will do two coats on three 50cm square samples.</li>
    <li>A 10m roll of lining paper is long enough for 3 sample squares for 6 colours.</li>
    <li>Write the name of the colour on the back on the sample for easy reference.</li>
    <li>Once dried, put the samples up with Blu Tack in different locations; by the window, in the darkest corner and by a key piece of furniture.</li>
    <li>View the colours at different times of day as they will look different as the light changes, including at night under artificial light.</li>
    <li>Write notes on the back of the lining paper with your views on the colour in that position / light condition.  For example: "By window, early morning light, shade too dark and tone too green against curtains.”</li>
    <li>This can help if your 'Short List' is quite long or if none of them hit the spot.</li>
    <li>You should be ready to choose your ideal colour, or at least can continue to iterate this process until you do.</li>
  </ul>
</div>
