<html lang="en-GB">
  <head>
    <meta name="description" content="cookie policy explanation">
    <link href="/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <% include ./partials/cookie-notice %>
    <h1>Full Screen Paint Sample Cookie Policy</h1>
    <p>This site uses cookies to track site usage with Google Analytics.</p>
    <p>Additionally sites that are linked to from this site may also use cookies for a variety of purposes. These sites will serve their own cookie notices.</p>
    <p>Click <a href="https://www.aboutcookies.org/" target="_blank">here</a> for more information on managing cookies in your browser.</p>
    <% include ./partials/footer %>
  </body>
  <script src="/main.js"></script>
  <% include ./partials/google-analytics %>
</html>
