This is the cookies policy page
<html lang="en-GB">
  <head>
    <meta name="description" content="cookie policy explanation">
    <link href="/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <h1>Full Screen Paint Sample Cookie Policy</h1>
    <p>This site uses cookies to anonymously track usage with Google Analytics.</p>
    <p>Additionally sites that are linked to from this site may also use cookies for a variety of purposes. These sites will serve their own cookie notices.</p>
    <p>Click <a href="https://www.aboutcookies.org/">here</a> for more information on managing cookies in your browser.</p> 
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-105701556-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
