<html lang="en-GB">
  <head>
    <meta name="description" content="full screen paint colour sample swatch based on hex code, find hex code for paint name use ipad tablet phone as a paint sample">
    <link href="/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <% include ./partials/cookie-notice %>
    <h1 class="title">Full Screen Paint Sample (BETA)</h1>
    <div class="css-grid__container">
      <% include ./partials/hex %>
      <% include ./partials/color %>
      <% include ./partials/tips %>
      <% include ./partials/footer %>
    </div>
    <% include ./partials/overlay %>
  </body>
  <script src="/main.js"></script>
  <% include ./partials/google-analytics %>
</html>
