<html lang="en-GB">
  <head>
    <meta name="description" content="full screen paint colour sample swatch based on hex code, find hex code for paint name use ipad tablet phone as a paint sample">
    <link href="/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <h1 class="title">Full Screen Paint Sample (BETA)</h1>
    <div class="css-grid__container">
      <div class="hex">
        <h2 class="text__standard">Use your screen as a paint sample</h2>
        <fieldset class="fieldset__hex">
          <label class="label">Enter the paint's HEX code:</label>
          <div>
          <textarea
            class="input__hex-code"
            autocapitalize="characters"
            autocomplete="on"
            autofocus
            cols="14"
            maxlength="7"
            minlength="7"
            placeholder="e.g. #FFFFFF"
            required
            rows="1"
          ></textarea>
          <button class="button__initiate">Full Screen Sample</button>
        </div>
        </fieldset>
        <p class="error"></p>
      </div>
      <div class="color">
        <h2>Find the HEX code for your paint</h2>
        <fieldset class="fieldset__color-search">
          <label class="label">Enter the name of your paint</label>
          <div>
            <textarea
            class="input__color-search"
            autocapitalize="characters"
            autocomplete="on"
            cols="25"
            minlength="5"
            placeholder="e.g. Inchyra Blue"
            rows="1"
            ></textarea>
            <button class="button__color-search">Colour Search</button>
          </div>
          <div>
            <p>Preferred Search Site</p>
            <div>
              <input type="radio" id="colorSearchLink1" name="colorSearchLink" value="https://www.e-paint.co.uk/search_colour.asp?cQuery=" checked="checked">
              <label for="colorSearchLink1">
                <a class="link__color-search" href="https://www.e-paint.co.uk/search_colour.asp?cQuery=" target="__blank">e-paint.co.uk</a>
              </label>
              <p>Click "View L*a*b*/HLC values" link against colour result to get the HEX code</p>
            </div>
            <div>
              <input type="radio" id="colorSearchLink2" name="colorSearchLink" value="https://encycolorpedia.com/search?q=">
              <label for="colorSearchLink2">
                <a class="link__color-search" href="https://encycolorpedia.com/search?q=" target="__blank">encycolorpedia.com</a>
              </label>
              <p>Click the link for colour result, the HEX code will be in the page title</p>
            </div>
            <p class="color-search__placeholder">Search results will appear here</p>
          </div>
          <iframe class="color-search__iframe" src=""></iframe>
        </fieldset>
      </div>
      <div class="tips">
        <h2>Tips for choosing the right paint colour</h2>
        <ul>
          <li>Get charts from your local decorating store or direct from suppliers.</li>
          <ul>
            <li><a href="https://eu.farrow-ball.com/colour-card///fcp-product/700011" target="_blank">Farrow and Ball</a></li>
            <li><a href="https://www.colourtrend.ie/colourcards" target="_blank">Colourtrend</a></li>
            <li><a href="http://www.johnstonespaint.ie/inspiration/request-a-colour-card" target="_blank">Johnstone’s</a></li>
            <li><a href="http://www.fleetwood.ie/#open-modal" target="_blank">Fleetwood</a></li>
          </ul>
          <li>Create a ‘Long List’ of colours that complement items such as windows, furniture & curtains.</li>
          <li>Narrow to a ‘Short List’ using this site to eliminate colours that don’t suit at a larger scale.</li>
          <li>You can now move onto real paint samples.</li>
          <li>Consider getting each colour in a lighter shade as well. When painted to a bigger scale colours can be more intense.</li>
          <li>Don’t paint samples directly onto the wall, buy some <a href="http://www.woodies.ie/single-lining-1000-grade-315800" target="_blank">Lining Paper</a>.</li>
          <li>Each sample should be a square of around 50cm on each side (the width of the lining paper).</li>
          <li>A 100ml paint sample will do two coats on three 50cm square samples.</li>
          <li>A 10m roll of lining paper is long enough for 3 sample squares for 6 colours.</li>
          <li>Write the name of the colour on the back on the sample for easy reference.</li>
          <li>Once dried, put the samples up with Blu Tack in different locations; by the window, in the darkest corner and by a key piece of furniture.</li>
          <li>View the colours at different times of day as they will look different as the light changes, including at night under artificial light.</li>
          <li>Write notes on the back of the lining paper with your views on the colour in that position / light condition.  For example: "By window, early morning light, shade too dark and tone too green against curtains.”</li>
          <li>This can help if your 'Short List' is quite long or if none of them hit the spot.</li>
          <li>You should be ready to choose your ideal colour, or at least can continue to iterate this process until you do.</li>
        </ul>
      </div>
      <div class="footer">
        <ul>
          <li>Contact:</li>
          <li><a href="mailto:fullscreenpaintsample@gmail.com">fullscreenpaintsample@gmail.com</a></li>
          <li><a href="http://initialdigital.com/">initialdigital.com</a></li>
        </ul>
      </div>
    </div>
    <div class="overlay">
      <button class="button__close">X</button>
    </div>
  </body>
  <script src="/main.js"></script>
</html>
