<html>
  <head>
    <link href="/main.css" rel="stylesheet"></link>
  </head>
  <body>
    <h1 class="title">Full Screen Color</h1>
    <fieldset class="fieldset__hex">
      <label class="label">Enter the 6 character HEX code: #</label>
      <textarea
        class="input__hex-code"
        autocapitalize="characters"
        autocomplete="on"
        autofocs
        cols="12"
        maxlength="6"
        minlength="6"
        placeholder="e.g. FFFFFF"
        required
        rows="1"
      ></textarea>
      <button class="button__initiate">Full Screen Color</button>
    </fieldset>
    <p class="error"></p>
    <div class="overlay">
      <button class="button__close">Close</button>
    </div>
    <h2>Resources to find the HEX code for your paint</h2>
    <form>
      <fieldset class="fieldset__color-search">
        <label class="label">Enter the name of your paint</label>
        <textarea
        class="input__color-search"
        autocapitalize="characters"
        autocomplete="on"
        autofocs
        cols="30"
        minlength="5"
        placeholder="e.g. Inchyra Blue"
        required
        rows="1"
        ></textarea>
        <button class="button__color-search">Launch Color Search</button>
      </fieldset>
      <div>
        <p>Preferred Color Search Site</p>
        <input type="radio" id="colorSearchLink1" name="colorSearchLink" value="http://www.e-paint.co.uk/search_colour.asp?cQuery=" checked="checked">
        <label for="colorSearchLink1"><a class="link__color-search" href="http://www.e-paint.co.uk/search_colour.asp?cQuery=" target="__blank">e-paint.co.uk</a></label>

        <input type="radio" id="colorSearchLink2" name="colorSearchLink" value="http://encycolorpedia.com/search?q=">
        <label for="colorSearchLink2"><a class="link__color-search" href="http://encycolorpedia.com/search?q=" target="__blank">encycolorpedia.com</a></label>
      </div>
  <div>
  </div>
</form>
  </body>
  <script src="/main.js"></script>
</html>
